localhost:5432:rideshare_development:owner:HSnDDgFtyW9fyFI
localhost:54321:rideshare_development:owner:HSnDDgFtyW9fyFI
localhost:54322:rideshare_development:owner:HSnDDgFtyW9fyFI
localhost:5432:rideshare_development:app:HSTnDDgFtyW9fyFI
localhost:6432:rideshare_development:owner:HSnDDgFtyW9fyFI
*:*:*:replication_user:cd58b7e22c0af34a34c1572a
*:*:*:app_readonly:ee0e8cc80c5c244e6582b0de
